/* White background band that matches logo height */
.header::before {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6.5rem;
    background-color: white;
    z-index: 999990;
}

/* sets the size, position and colour of the LCC logo */
.header img {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 6.5rem;
    width: auto;
    min-width: 10%;
    max-width: 20%;
    z-index: 999991;
    background-color: #e30613;
    border: 1.5rem solid #e30613;
}

/* sets the position of the title */
.header h1 {
    position: fixed;
    top: -10px;
    text-align: center;
    height: 6.5rem;
    width: 100%;
    z-index: 999992;
    font-size: 2em;
}

/* extends the height of the base streamlit header to match headers above */
.st-emotion-cache-18ni7ap {
    height: 6.5rem;
}

/* allows you to scroll past the maps on mobile / small screen devices */
div.block-container{
    padding-left:1rem;
    padding-right:1rem;
}